<header class="site-header">
	<div class="branding">
		{% if site.theme.gravatar %}
		<a href="{{ site.baseurl }}/">
			<img class="avatar" src="https://secure.gravatar.com/avatar/{{ site.theme.gravatar }}?s=100" alt=""/>
		</a>
		{% elsif site.theme.avatar %}
		<a href="{{ site.baseurl }}/">
			<img class="avatar" src="{{ site.baseurl }}/img/{{ site.theme.avatar }}" alt=""/>
		</a>
		{% endif %}
		<h1 class="site-title">
			<a href="{{ site.baseurl }}/">{{ site.theme.title }}</a>
		</h1>
	</div>
	<nav class="site-nav">
		<ul class="topnav" id="myTopnav">
			{% for link in site.navigation %}
				{% assign current = nil %}
				{% if page.url contains link.url %}
					{% assign current = 'current' %}
				{% endif %}
				<li class="element {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
					<a href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
				</li>
			{% endfor %}
			<li class="responsive-menu-icon">
				<a href="javascript:void(0);" onclick="responsiveMenu()">&#9776;</a>
			</li>
		</ul>
	</nav>

</header>
